html{
    background: linear-gradient(90deg, rgba(122,122,122,1) 0%, rgba(173,173,173,1) 47%, rgba(255,255,255,1) 100%);
   
}

.main {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;

}

.header, .education, .experience {
    border: solid 1px;
    border-radius: 15px;
    max-width: 40%;
    margin: auto;
    border: solid 1px;
    border-radius: 15px;
    padding: 1%;   
    color: black;
    box-shadow: 5px 10px grey;      

}

.experience-bullet-box {
    text-align: left;

}

.header, .edit-header {
    background: linear-gradient(90deg, rgba(93,194,37,1) 0%, rgba(160,245,129,1) 47%, rgba(255,255,255,1) 100%);
}

.education, .edit-education {
    background: linear-gradient(90deg, rgba(31,156,208,1) 0%, rgba(118,247,255,1) 47%, rgba(255,255,255,1) 100%);
}

.experience, .edit-experience {
    background: linear-gradient(90deg, rgba(208,31,31,1) 0%, rgba(255,185,118,1) 47%, rgba(255,255,255,1) 100%);
}

.edit-header, .edit-education, .edit-experience {
    max-width: 40%;
    margin: auto;
    border: solid 1px;
    border-radius: 15px;   
    padding: 1%;  
    box-shadow: 5px 10px grey;
}

.edit-header ul, .edit-education ul, .edit-experience ul {
    display: flex;
    flex-direction: column;
     
    font-weight: bold;    
    padding: 2%;     
    
}



.header ul , .education ul, .experience ul{
    flex-direction: column;     
    text-align: left;    
    padding: 2%;  
    align-self: center;
    list-style-type: none;

}


button {
    width: 80px;
    height: 25px;
    background-color: rgb(162, 224, 162);
    border-radius: 5px;
    border: 1px;
}

button:hover {
    background-color: rgb(68, 158, 68);
    cursor: pointer; 
}

input {
    border-radius: 5px;
    border: 1px solid;
}


